

.back{
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
/* Add this to your CSS */
.dashboard-container {
    display: flex;
    height: 100vh; /* Utilize the entire viewport height */
}
/* ... (rest of your CSS) */
/* .text{

    background-color: rgba(255,255,255,0.8);
    transform: translate(-50%,-50%);
} */
/*These transition are from youtube*/

@keyframes transitionIn-X{
    from {
            opacity: 0;
            transform: translateX(-10px);

    }

    to {
            opacity: 1;
            transform: translateX(0);
    }
}
    


@keyframes transitionIn-Y-over{
    from {
            opacity: 0;
            transform: translateY(-10px);

    }

    to {
            opacity: 1;
            transform: translateY(0);
    }
}
    
@keyframes transitionIn-Y-bottom{
    from {
            opacity: 0;
            transform: translateY(30px);

    }

    to {
            opacity: 1;
            transform: translateY(0);
    }
}
    

/* Transition end */
