.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: #1cf1c6;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

/* Navbar background and shadow */
.navbar {
  background-color: #2bde17;
  box-shadow: 0px 2px 4px rgba(164, 28, 28, 0.1);
}

/* Brand logo styling */
.navbar-brand {
  font-size: 1.5rem;
  color: #007bff;
  text-decoration: none;
}

/* Centering the navbar links */
.navbar-nav {
  margin-left: auto;
}

/* Highlight active link */
.nav-item.active .nav-link {
  color: #007bff;
}

/* Add more styling for mobile responsiveness */
@media (max-width: 768px) {
  .navbar-nav {
    margin: 0;
  }

  .navbar-toggler-icon {
    background-color: #e31616;
  }
}

